html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 10px 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  font-size: 17px;
  line-height: 18px;
}

.header-top-wrapper {
  color: #ffffff;
  background-color: #293449;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-top-left,
.header-top-right {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.header-top-left {
  width: 460px;
}

.header-top-right {
  width: 450px;
}

.logo {
  font-size: 30px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 8px 50px;
  width: 220px;
  text-align: center;
}

.main-header-logo img {
  width: 111px;
  height: 18px;
}

.search-form {
  display: flex;
  margin-left: auto;
  width: 230px;
}

.search-input {
  padding: 11px 0;
  padding-left: 8px;
  background-color: transparent;
  border: none;;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-input::-ms-input-placeholder {
  color: #ffffff;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus,
.search-input:active {
  background-color: #ffffff;
}

.search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-input:focus::-ms-input-placeholder {
  color: #000000;
}

.search-input:focus::placeholder {
  color: #000000;
}

.search-button {
  order: -1;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.search-button svg path {
  fill: #ffffff;
}

.search-button:hover,
.search-button:focus {
  opacity: 1;
}

.search-button:active {
  opacity: 0.5;
}

.search-input:focus + .search-button svg path,
.search-input:active + .search-button svg path {
  fill: #ee3643;
}

.search-input:focus + .search-button,
.search-input:active + .search-button {
  opacity: 1;
  background-color: #ffffff;
}

.bookmarks,
.cart,
.order {
  width: 150px;
  text-align: center;
}

.header-top-link {
  display: block;
  padding: 12px 20px;
  vertical-align: middle;
  color: inherit;
}

.bookmarks-link,
.cart-link {
  position: relative;
  padding-left: 40px;
}

.bookmarks-link::before,
.cart-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link::before {
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
}

.cart-link::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.bookmarks-link:hover::before,
.cart-link:hover::before,
.bookmarks-link:focus::before,
.cart-link:focus::before {
  opacity: 1;
}

.bookmarks-link:active::before,
.cart-link:active::before {
  opacity: 0.5;
}

.header-top-link:hover,
.header-top-link:focus {
  background-color: #212a3a;
}

.header-top-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart-link-full {
  background-color: #ee3643;
}

.order-link {
  background-color: #63a63e;
}

.order-link:hover,
.order-link:focus {
  background-color: #5fbb2d;
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle-wrapper {
  background-color: #f3f7f8;
}

.header-middle {
  display: flex;
  padding-top: 45px;
  padding-bottom: 40px;
}

.header-title {
  width: 300px;
  margin: 0;
  margin-top: 5px;
  margin-right: 20px;
  padding-left: 50px;
  text-align: left;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.contacts-header {
  width: 300px;
  padding-right: 30px;
}

.contacts-header address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
  text-align: center;
}

.phone {
  position: relative;
  display: block;
  margin-bottom: 3px;
  padding: 10px 50px;
  padding-left: 70px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-header p {
  margin: 0;
  padding: 0;
}

.user {
  width: 280px;
  margin-left: auto;
  font-size: 21px;
  line-height: 21px;
}

.user-authorized {
  width: 300px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-link {
  display: block;
  padding: 12px 25px;
  background-color: #ffffff;
  color: inherit;
}

.user-link-login {
  display: flex;
  padding-left: 12px;
}

.user-link svg {
  margin-top: 4px;
}

.user-link-login span {
  margin-left: 15px;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-list-authorized .user-link:hover {
  color: #000000;
}

.user-link-login:hover svg path,
.user-link-login:focus svg path {
  fill: #32425c;
}

.user-link-login:active svg path {
  fill: #c5c5c5;
}

.user-link-info {
  width: 260px;
  padding: 10px 20px 12px 14px;
}

.user-link-logout {
  width: 40px;
  padding: 12px 10px;
}

.user-link-info span {
  margin-left: 8px;
}

.user-link-info:active span {
  opacity: 0.3;
}


.user-link-info svg path,
.user-link-logout svg path {
  fill: #c5c5c5;
}

.user-link-info:hover svg path,
.user-link-logout:hover svg path,
.user-link-info:focus svg path,
.user-link-logout:focus svg path {
  fill: #32425c;
}

.user-link-info:active svg path,
.user-link-logout:active svg path {
  fill: #c5c5c5;
}

.user-list-authorized {
  margin-bottom: 2px;
}

.user-list-account {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  list-style: none;
}

.user-item-account:last-child {
  position: relative;
  margin-left: 31px;
}

.user-item-account:last-child::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -17px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-link-account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-link-account:hover,
.user-link-account:focus {
  color: #ee3643;
}

.user-link-account:active {
  color: #32425c;
  opacity: 0.3;
}

.user-name {
  font-size: 21px;
}

.main-nav {
  padding-bottom: 60px;
  line-height: 17px;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 22px;
  list-style: none;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 #293449;
          box-shadow: inset 0 -5px 0 #293449;
}

.main-nav-list-item a {
  display: block;
  padding: 20px 5px;
  color: #ffffff;
}

.main-nav-list-item a:hover,
.main-nav-list-item a:focus {
  background-color: #293449;
}

.main-nav-list-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo-block {
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
}

.features {
  color: #ffffff;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features-item {
  position: relative;
  padding: 20px 24px 30px 24px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 300px;
}

.flag{
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}

.flag-new{
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.features-item:nth-child(8 + 3n){
  margin-right: 0;
}

.features-item:nth-child(3),
.features-item:nth-child(4),
.features-item:nth-child(5) {
  margin-right: 0;
}

.features-item:nth-child(4),
.features-item:nth-child(5) {
  margin-left: 640px;
}

.features-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-material {
  background-color: #ffbf47;
}

.features-item-material::after {
  top: 33px;
  right: 44px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
}

.features-item-instrument {
  background-color: #3bbce3;
}

.features-item-instrument::after {
  top: 33px;
  right: 27px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
}

.features-item-technic {
  background-color: #dc91d8;
}

.features-item-technic::after {
  top: 33px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
}

.features-item-sale {
  background-color: #8ed78f;
}

.features-item-sale::after {
  top: 27px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
}

.features-item-delivery {
  background-color: #ffc047;
}

.features-item-delivery::after {
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
}

.features-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.features-item-instrument .features-button {
  padding-left: 27px;
  padding-right: 27px;
}

.features-item-technic .features-button {
  padding-left: 32px;
  padding-right: 32px;
}

.features-item-sale .features-button {
  padding-left: 22px;
  padding-right: 22px;
}

.features-item-delivery .features-button {
  padding-left: 38px;
  padding-right: 38px;
}

.features-button:hover,
.features-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-sliders {
  position: absolute;
  top: 204px;
  width: 620px;
  height: 266px;
  background-color: #685c53;
}

.promo-sliders-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-sliders-title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-sliders-item p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.promo-sliders-header {
  position: absolute;
  top: 23px;
  left: 23px;
}

.slider-picture {
  width: 620px;
  height: 266px;
}

.arrows-controls {
  position: absolute;
  z-index: 5;
  bottom: 50%;
}

.arrows {
  position: relative;
  width: 29px;
  height: 29px;
  background-color: transparent;
  border: 3px solid #ffffff;
  transform: rotate(45deg);
}

.arrows-prev {
  top: 20px;
  left: 31px;
  border-right: transparent;
  border-top: transparent;
}

.arrows-next {
  right: -533px;
  top: 20px;
  border-left: transparent;
  border-bottom: transparent;
}

.promo-sliders input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 49%;
  bottom: 38px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 6px;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.promo-sliders-item {
  display: none;
}

#product-1:checked ~ .promo-sliders-list .promo-sliders-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .promo-sliders-list .promo-sliders-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-1::before,
#product-2:checked ~ .slider-controls .slider-controls-2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: 2px;
  background-color: #ee3643;
  border-radius: 50%;
}

.sliders-button {
  position: absolute;
  bottom: 21px;
  left: 28px;
  padding: 10px 47px;
}

.popular-products-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 27px 25px 25px 28px;
  background-color: #f9f5f0;
}

.section-title {
  flex-grow: 1;
  margin: 0;
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-products-button,
.popular-brands-button {
  align-items: flex-end;
  width: 254px;
  text-align: center;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.product-item,
.popular-brands-item {
  border: 1px solid #eaeaea;
}

.product-item {
  position: relative;
  width: 220px;
}

.product-item:hover,
.product-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.product-item h3,
.product-item h4 {
  margin: 0;
  width: 160px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.product-item img {
  order: -1;
  width: 218px;
  height: 170px;
  margin-bottom: 10px;
}

.price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.price del {
  position: absolute;
  top: -27px;
  color: #a9a9a9;
}

.price-button {
  width: 130px;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 17px;
}

.price-button:after{
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
  text-align: center;
}

.product-item:hover .actions{
    display:block;
}

.actions .button {
  display: block;
  width: 135px;
  margin: 0 auto;
}

.actions .button-buy {
  margin-bottom: 10px;
  background-color: #63a63e;
  -webkit-box-shadow: inset  0 -3px #367315;
          box-shadow: inset  0 -3px #367315;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border-color: #32425c;
  background-color: #ffffff;
}

.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active img {
  opacity: 0.5;
}

.service {
  position: relative;
  margin-bottom: 80px;
  padding-top: 65px;
  background-color: #f4f8fa;
}

.service-title {
  margin-bottom: 25px;
  color: #000000;
}

.service-description,
.about-us-text,
.list-description,
.contacts p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.service-description {
  margin-bottom: 68px;
  width: 400px;
}

.shadow {
  position: absolute;
  z-index: 5;
  background-image: url("../img/shadow.png");
  background-position: center;
  background-repeat: no-repeat;
}

.service-slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.service-list {
  width: 240px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
  color: #ffffff;
}

.service-item button {
  width: 100%;
  padding: 16px 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: inherit;
  border: none;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 1px #405069;
          box-shadow: inset 0 1px #405069;
}

.service-item button:hover,
.service-item button:focus {
  background-color: #293449;
}

.service-item button:active,
.service-item .active-slide {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service-item .active-slide:hover,
.service-item .active-slide:focus {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service-slider-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slider-item {
  width: 620px;
  min-height: 285px;
  display: none;
  background-repeat: no-repeat;
}

.service-slider-delivery {
  background-image: url("../img/delivery.png");
  background-position: 150px 25px;
}

.service-slider-guarantee {
  background-image: url("../img/guarantee.png");
  background-position: 240px 0px;
}

.service-slider-credit {
  background-image: url("../img/credit.png");
  background-position: 155px 0px;
}

.service-item:hover .service-slider-item,
.service-slider-active {
  display: block;
}

.delivery-description,
.guarantee-description,
.credit-description {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.service-slider-title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.delivery-description {
  width: 275px;
}

.guarantee-description {
  width: 380px;
}

.credit-description {
  width: 300px;
  margin-bottom: 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
}

.about-us {
  width: 540px;
}

.contacts {
  width: 300px;
}

.about-us-title,
.contacts-title {
  margin-bottom: 25px;
  color: #000000;
}

.about-us-text {
  margin-bottom: 25px;
}

.list-description {
  margin-bottom: 20px;
}

.about-us-button {
  padding-left: 40px;
  padding-right: 40px;
}

.transport-company-list {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.transport-company-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
}

.transport-company-item:last-child {
  margin-bottom: 0;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.map-wrapper img {
  width: 300px;
  height: 158px;
  margin-bottom: 42px;
}

.contacts p:first-of-type {
  margin-bottom: 30px;
}

.map-button {
  padding-left: 63px;
  padding-right: 63px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -28px;
  width: 9px;
  height: 9px;
  border: 2px solid #c1c6ce;
  transform: rotate(-45deg);
  border-top: transparent;
  border-left: transparent;
}

.breadcrumbs li:first-child::after {
  display: none;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.catalog-title {
  margin-bottom: 20px;
  padding: 30px 30px;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filters-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.form-group {
  padding: 0;
  padding-bottom: 23px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #f7f3ec;
}

.group-power {
  padding-bottom: 79px;
  border-bottom: none;
}

.form-group legend {
  padding-top: 16px;
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.group-price legend {
  padding-top: 0;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  padding: 12px 23px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}

.price-controls span {
  position: relative;
  top: 9px;;
  font-size: 16px;
  line-height: 18px;
}

.price-controls input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.price-controls input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.price-controls input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.price-controls input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
}

.filter-input:hover +label::before,
.filter-input:focus +label::before {
  border-color: #b5b5b5;
}

.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:focus + label::after {
  content: url("../img/checkbox-on-hover.svg");
}

.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label,
.filter-input:disabled:hover + label::after,
.filter-input:disabled:hover + label::before,
.filter-input:disabled:focus + label::after,
.filter-input:disabled:focus + label::before {
  cursor: default;
  border: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;

}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
  background-color: #b5b5b5;
}

.filter-input:disabled + label,
.filter-input:disabled + label::after,
.filter-input:disabled + label::before {
  cursor: default;
  opacity: 0.4;
}

.filter-button {
  padding-bottom: 9px;
  padding-top: 9px;
  width: 140px;
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;;
}

.filter-button:hover,
.filter-button:focus,
.button-pagination-next:hover,
.button-pagination-next:focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

.catalog {
  width: 700px;
}

.sort {
  display: flex;
  padding: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sort-title {
  width: 140px;
  margin-right: auto;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 380px;
  list-style: none;
}

.pointers {
  margin-left: auto;
  width: 43px;
}

.sort-list-item a {
  color: inherit;
  opacity: 0.3;
  border-bottom: 1px dashed #ee3643;
}

.sort-list-item a:hover,
.sort-list-item a:active {
  opacity: 1;
  border-bottom-style: solid;
}

.sort-list-item a:active {
  color: #ee3643;
  border: none;
}

.sort-list-item-current a {
  opacity: 1;
  color: #ee3643;
}

.sort-list-item-current a:hover {
  border-bottom: 1px dashed #ee3643;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  margin-bottom: 60px;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active,
.button-pagination-next:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.button-pagination-next {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-info {
  padding: 70px;
}

.catalog-info-title {
  color: #000000;
}

.catalog-info-description {
  font-family: "PT Sans", Arial, sans-serif;
}

.main-footer {
  color: #ffffff;
}

.footer-top-wrapper {
  font-size: 18px;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.company-info {
  width: 330px;
}

.main-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  margin-bottom: 28px;
}

.contacts-footer address {
  font-style: normal;
}

.footer-navigation {
  width: 550px;
  padding-top: 40px;
}

.contacts-footer a {
  color: inherit;
}

.site-navigation-list,
.products-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-list {
  margin-bottom: 32px;
}

.products-navigation-list {
  margin-left: 25px;
}

.site-navigation-list a {
  color: inherit;
}

.products-navigation-list a,
.mail a,
.footer-copyright a {
  color: #ffda96;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.products-navigation-list a:hover,
.products-navigation-list a:focus,
.mail a:hover,
.mail a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.site-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.products-navigation-list a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.mail a:active,
.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-wrapper {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-copy {
  margin: 0;
  margin-right: 150px;
  width: 240px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  width: 130px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.mail {
  margin: 0;
  margin-right: 50px;
  width: 140px;
}

.footer-copyright {
  margin: 0;
  width: 110px;
}

.modal-write-us {
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.write-us-form label {
  font-size: 18px;
  line-height: 18px;
}

.input {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.input::-webkit-input-placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.input:-ms-input-placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.input::-ms-input-placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.input::placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.input:hover {
  border-color: #b5b5b5;
}

.input:focus {
  border-color: #ee3643;
}

.modal-submit {
  background-color: #f4f4f4;
}

.modal-button {
  border: none;
}

.modal-map {
  -webkit-box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
}

.modal-map img {
  width: 940px;
  height: 446px;
}
